@using BlazorBank.BlazorApp.Models
@using System.Globalization

<div class="account-list__container">
    @if (Accounts != null)
    {
        <h3 class="page-header">@Heading</h3>
        @foreach (var account in Accounts)
        {
            <div class="account-list__account-card">
                <div class="account-list__account-card__account-info">
                    <h4>@account.AccountName</h4>
                    <small>@account.AccountNumber</small>
                </div>
                <div class="account-list__account-card__account-balance">
                    <small>Disponibelt</small>
                    <h4>@FormatCurrencyString(account.Available),-</h4>
                </div>
                <div class="account-list__account-card__account-balance">
                    <small>Saldo</small>
                    <h4>@FormatCurrencyString(account.Balance),-</h4>
                </div>

            </div>
        }
    }
</div>

@code {
    [Parameter]
    public string Heading { get; set; }

    [Parameter]
    public IEnumerable<AccountWeb> Accounts { get; set; }

    private string FormatCurrencyString(double amount)
    {
        var nfi = new NumberFormatInfo();
        nfi.NumberGroupSeparator = " ";
        nfi.NumberDecimalSeparator = ",";
        return amount.ToString("N2", nfi);
    }
}
