@using BlazorBank.BlazorApp.Models
@using System.Globalization
@using BlazorBank.BlazorApp.Formatters

<div class="account-list__container">
    @if (Cards != null)
    {
        <h3 class="page-header">@Heading</h3>
        @foreach (var card in Cards)
        {
            <div class="account-list__account-card">
                <div class="account-list__account-card__account-info">
                    <h4>@card.CardType</h4>
                    <small>@AccountFormatter.FormatAccountNumber(card.AccountNumber)</small>
                </div>
                <div class="account-list__account-card__account-balance">
                    <small>Utløpsdato</small>
                    <h4>@card.ExpiryDate-</h4>
                </div>
                <div class="account-list__account-card__account-balance">
                    <small>Kontonummer</small>
                    <h4>@AccountFormatter.FormatAccountNumber(card.AccountNumber),-</h4>
                </div>

            </div>
        }
    }
</div>

@code {
    [Parameter]
    public string Heading { get; set; }

    [Parameter]
    public IEnumerable<CardWeb> Cards { get; set; }
}
